/* ============= CSS RULES =============*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

pre {
    white-space: pre-line;
    font-family: var(--font3);
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
/* ============= HEADER =============*/
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/* ============= SECTION =============*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
/* ============= SECTION / CLASS: NORMAL =============*/
section.normal {
    background-color: white;
    color: black;
}

/* ============= SECTION / CLASS: IMAGE =============*/
section.image {
    background-color: rgb(75, 73, 73);
    color: white;
}

section.image pre {
    display: inline-block;
    background-color: rgb(37, 31, 31);
    padding: 5px;
}

/* ============= FOOTER =============*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}